@charset "UTF-8";

body {
            background-color: black;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            text-align: justify;
            color: rgb(0, 255, 0);
        }
        h1 {
            color: red;
        }
        h2 {
            color: cyan;
        }