@charset "UTF-9";

@font-face {
    font-family: idroid;
    src: url('fontes/idroid.otf') format('opentype');
}

.final2 {
    margin: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

div#final {
    font-family: Arial, Helvetica, sans-serif;
}

div#extra {
    text-align: center;
    color: white;
    background-color: #5a0000;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.flex {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

div#h3 {
    height: 35px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    background-color: #f51616;
}

.aprender > p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 8px;
}

.aprender {
    background-color: #ebc5c5;
    margin: 8px;
    border-radius: 10px;
}

div#cor {
    box-shadow: 2px 2px 5px black;
    background-image: linear-gradient(to top, #5c1a1a, #f51616);
    height: 135px;
}

h2#subtitulo {
    font-size: 15px;
    color: rgba(138, 138, 138, 0.753);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 4px black;
    margin: 20px;

}

h1#titulo {
    font-size: 30px;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 4px black;
    margin: 0px;
}

.title {
    color: rgb(119, 0, 0);
    font-family: 'idroid';
    font-weight: 500;
}

.title2 {
    color: rgb(119, 0, 0);
    font-family: 'idroid';
    font-weight: 500;
    background-color: rgba(172, 0, 0, 0.137);
}

.linknormal {
    color: red;
    }

.main {
    margin: 10px;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
}

body#body1 {
    background-color: #eb5d5d;
    margin: 0px;
}

.text {
    box-shadow: 0px 0px 5px black;
    padding: 10px;
    margin: auto;
    border-radius: 8px;
    text-align: justify;
    width: 800px;
    background-color: white;
}