@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #D92525, #8C1F28, #591C21);
}

main {
    border-radius: 20px;
    background-color: white;
    width: 600px;
    box-shadow: 10px 10px 20px #3f1317;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #044040;
    text-align: center;
    text-shadow: 1px 1px 0px #022727;
}

h2 {
    color: #591C21;
}

p {
   text-align: justify;
}